/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
 width: 100%;
 font-size: 62.5%;
}

body{
  width: 100%;
}


/******************************************
/* LAYOUT
/*******************************************/
header, header section{
  border: solid purple 1px;
  height: 100px;
}

section {
  border: solid purple 1px;
  height: 300px;
}

.container{
  display: flex;
  margin: 20px 0;
}

ul, header{
  display: flex;
}

.container section{
  flex: 1;
}

ul{
  list-style: none;
}

img{
  height: 50px;
  width: auto;
}

header{
  justify-content: space-between;
}

.logo, .login, .nav{
  display: flex;
  align-items: center;
}

.login{
  flex-grow: 2;
  justify-content: flex-end;
}

li{
  width: 100%;
  border: solid purple 1px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
