/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
 width: 100%;
 font-size: 62.5%;
 font-family: 'Roboto', sans-serif;
}

body{
  width: 100%;
  /* background: #ded1bd */
}


/******************************************
/* LAYOUT
/*******************************************/
header, header section{
  /* border: solid purple 1px; */
  height: 100px;
}

section {
  /* border: solid purple 1px; */
  height: 300px;
}

.container{
  display: flex;
  margin: 20px 0;
}

ul, header{
  display: flex;
}

.container section{
  flex: 1;
}

ul{
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.coffeeLogo{
  height: 60px;
  width: auto;
  padding: 10px;
}

header{
  box-shadow: 0 5px 5px #ded1bd;
  font-weight: bold;
}

.logo, .login, .nav{
  display: flex;
  align-items: center;
}

.login{
  flex-grow: 2;
  justify-content: flex-end;
}
 
li{
  width: 90px;
}

.imageContainer1{
  background-image: url(../images/coffeeBeans.jpg);
  background-size: cover;
}

.imageContainer2{
  background-image: url(../images/blackCoffee.jpg);
  background-size: cover;
}

.imageContainer3{
  background-image: url(../images/coffeeArt.jpg);
  background-size: cover;
}

.imageContainer4{
  background-image: url(../images/rasberryTart.jpeg);
  background-size: cover;
}

.textSection1, .textSection2, .textSection3, .textSection4{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}

.textSection1{
  background: #563727;
}

.textSection2{
  background: #372c2e;
}

.textSection3{
  background: #de9e48;
}

.textSection4{
  background: #7a431d;
}

h1, h2, h3, h4 {
  font-size: 3rem;
}

p, button {
  font-size: 1.8rem;
}

p {
  padding: 0 75px;
}

button{
  background: rgb(0,0,0,0);
  color: #ffffff;
  border-radius: 25px;
  border: solid 1px #ffffff;
  padding: 5px;
}

.socialMedia{
  height: 50px;
  font-size: 3rem;
  text-align: center;
  color: #6c4a3f;
}

a{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
